
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<div class="tasks-header">
  <div class="filter-toolbar" [hidden]="contentHidden">
    <div class="filter-button" [ngClass]="{'filter-button-active': filterState == 'pending'}" (click)="togglePendingTasks()" i18n="pending tasks|Title of filter button that shows Pending tasks@@pending-tasks-filter">Pending</div>
    <div class="filter-button" [ngClass]="{'filter-button-active': filterState == 'completed'}" (click)="toggleCompletedTasks()"i18n="completed tasks|Title of filter button that shows Completd tasks@@completed-tasks-filter">Completed</div>
    <div class="filter-button" [ngClass]="{'filter-button-active': filterState == 'all'}" (click)="toggleAllTasks()" i18n="all tasks|Title of filter button that shows All tasks@@all-tasks-filter">All</div>
  </div>
  <div class="collapse-button" [ngClass]="{'collapsed': contentHidden}" (click)="toggle()"></div>
</div>
<div class="task-list-container" [hidden]="contentHidden">
  <workflow-steps
    *ngFor="let workflow of workflows"
    [workflow]="workflow"
    [stateFilter]="stepStateFilter"
    [userid]="userid"
    (stepSelectedAction)="startStep($event)"
    [selectedStep]="selectedStep">
  </workflow-steps>
</div>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
