
<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
<div class="workflow" (click)="toogle()">
  <div class="workflow-title">
    <div class="workflow-name" zluxFlyover [flyover]="workflowFlyover" (mouseenter)="onWorkflowHover($event, workflow)" position="bottom">{{workflow.workflowName}}</div>
    <div class="assigned-task-count">{{getAssignedStepCount(workflow)}} tasks assigned</div>
  </div>
  <div class="arrow" [ngClass]="{'arrow-closed': collapsed === 'yes'}"></div>
</div>
<div class="step-group" [@collapsed]="collapsed">
  <div class="step" *ngFor="let step of workflow.steps;" [@collapsed]="getStepCollapsedState(step)" [ngClass]="getStepClass(step)">
    <div class="selector" [ngClass]="{'selector-active': step === selectedStep}"></div>
    <div class="step-icon" [ngClass]="getStepIconClass(step)"></div>
    <div class="step-title" [ngClass]="{'step-title-active': step === selectedStep}"><span zluxFlyover [flyover]="stepFlyover" (mouseenter)="onStepHover($event, step)" position="bottom">{{step.title}}</span></div>
    <div class="action-button" (click)="actions[mapStepStateToDefaultAction(step)].click(step)">{{this.getStepActionTitle(step)}}</div>
    <!-- Did have a "dots-menu" here, but feel that changing the button to a dropdown button is better -->
  </div>
</div>
<zlux-flyover #stepFlyover>
  <div class="flyover">
    <div class="flyover-step-title">
      <div class="flyover-step-icon" [ngClass]="getStepIconClass(hoveredStep)"></div>
      <div class="flyover-text">{{hoveredStep?.title}}</div>
    </div>
    <div class="flyover-step-info">
      <div class="flyover-text-small">Status</div>
      <div class="flyover-text text-uppercase">{{hoveredStep?.state}}</div>
      <div class="flyover-text-small">Corresponding Workflow</div>
      <div class="flyover-text">{{hoveredStep?.workflow.workflowName}}</div>
      <div class="flyover-text-small">Owner</div>
      <div class="flyover-text">{{hoveredStep?.owner}}</div>
    </div>
  </div>
</zlux-flyover>
<zlux-flyover #workflowFlyover>
  <div class="flyover">
    <div class="flyover-text">{{hoveredWorkflow?.workflowName}}</div>
  </div>
</zlux-flyover>

<div class="workflow-spacer"></div>

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->
