
<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->
<div class="workflow" (click)="toogle()">
  <div class="workflow-title">
    <div class="workflow-name" zluxFlyover [flyover]="workflowFlyover" (mouseenter)="onWorkflowHover($event, workflow)" position="bottom">{{workflow.workflowName}}</div>
    <div class="assigned-task-count" i18n="label|Label with a number of tasks assigned to the user@@assigned-tasks-message">
      {getAssignedStepCount(), plural, =0 {no tasks assigned} =1 {one task assigned} other {{{getAssignedStepCount()}} tasks assigned}}
    </div>
    <div class="arrow" [ngClass]="{'arrow-closed': collapsed === 'yes'}"></div>
  </div>
</div>
<div class="step-group" [@collapsed]="collapsed">
  <div class="step" *ngFor="let step of workflow.steps;" [@collapsed]="getStepCollapsedState(step)" [ngClass]="getStepClass(step)">
    <div class="selector" [ngClass]="{'selector-active': step === selectedStep}"></div>
    <div class="step-icon" [ngClass]="getStepIconClass(step)"></div>
    <div class="step-title" [ngClass]="{'step-title-active': step === selectedStep}"><span zluxFlyover [flyover]="stepFlyover" (mouseenter)="onStepHover($event, step)" position="bottom">{{step.title}}</span></div>
    <ng-container  [ngSwitch]="step.state">
      <div class="action-button" *ngSwitchCase="'Ready'" (click)="performStep(step)" i18n="button label|Label for a button that starts a wizard for Workflow Step@@perform-button-label">Peform</div>
      <div class="action-button" *ngSwitchCase="'Failed'" (click)="checkStepStatus(step)" i18n="button label|Label for a button that shows Workflow Step status@@check-button-label">Check</div>
      <ng-container *ngSwitchCase="'Complete'">
        <div class="action-button" *ngIf="step.isJclStep()" (click)="checkStepStatus(step)" i18n="button label|Label for a button that shows Workflow Step status@@check-button-label">Check</div>
        <div class="action-button" *ngIf="step.isSimpleStep()" (click)="showStepInfo(step)" i18n="button label|Label for a button that shows Workflow Step status@@check-button-label">Check</div>
      </ng-container>
      <div class="action-button" *ngSwitchCase="'Submitted'" (click)="checkStepStatus(step)" i18n="button label|Label for a button that shows Workflow Step status@@check-button-label">Check</div>
      <div class="action-button" *ngSwitchCase="'Assigned'" (click)="showStepInfo(step)" i18n="button label|Label for a button that accepts Workflow Stepe@@accept-button-label">Accept</div>
      <div class="action-button" *ngSwitchCase="'Not Ready'" (click)="showStepInfo(step)" i18n="button label|Label for a button that shows Assignments Dialog for Workflow Step@@assign-button-label">Assign</div>
      <div class="action-button" *ngSwitchCase="'In Progress'" (click)="checkStepStatus(step)" i18n="button label|Label for a button that shows Workflow Step status@@check-button-label">Check</div>
      <div class="action-button" *ngSwitchCase="'Skipped'" (click)="checkStepStatus(step)" i18n="button label|Label for a button that shows Workflow Step status@@check-button-label">Check</div>
      <div class="action-button" *ngSwitchCase="'Unassigned'" (click)="showStepInfo(step)" i18n="button label|Label for a button that shows Assignments Dialog for Workflow Step@@assign-button-label">Assign</div>
      <div class="action-button" *ngSwitchCase="'Complete (Override)'" (click)="checkStepStatus(step)" i18n="button label|Label for a button that shows Workflow Step status@@check-button-label">Check</div>
    </ng-container>
    <div class="dots-menu" (click)="menu.show()">
      <workflow-popup-menu #menu position='left'>
        <workflow-popup-menu-item (onClick)="showStepInfo(step)">
          <div item-icon class="icon icon-properties"></div>
          <div item-title i18n="action menu item title|Title of an action that shows properties and details of Workflow step@@properties-item-title">Properties</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-item *ngIf="['Ready', 'Failed', 'Assigned'].includes(step.state)" (onClick)="performStep(step)">
          <div item-icon class="icon icon-perform"></div>
          <div item-title i18n="action menu item title|Title of an action that allows the user to perform a Workflow Step@@perform-item-title">Perform</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-item *ngIf="step.isJclStep() && ['Complete', 'Failed', 'Submitted'].includes(step.state)" (onClick)="checkStepStatus(step)">
          <div item-icon class="icon icon-status"></div>
          <div item-title i18n="action menu item title|Title of an action that shows Output of Workflow step@@status-item-title">Status</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-item (onClick)="showStepNotes(step)" *ngIf="false"><!-- hidden until notes view is implemented -->
            <div item-icon class="icon icon-notes"></div>
            <div item-title i18n="action menu item title|Title of an action that shows notes for Workflow step@@notes-item-title">Notes</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-separator></workflow-popup-menu-separator>
        <workflow-popup-menu-item *ngIf="step.state === 'Ready'" (onClick)="skipStep(step)">
          <div item-icon class="icon icon-skip"></div>
          <div item-title i18n="action menu item title|Title of an action that allows the user to skip execution of Workflow Step@@skip-item-title">Skip</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-item *ngIf="['Ready', 'Failed'].includes(step.state)" (onClick)="overrideCompleteStep(step)">
          <div item-icon class="icon icon-override-complete"></div>
          <div item-title i18n="action menu item title|Title of an action that allows the user to make step complete without execution@@override-complete-item-title">Override Complete</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-item (onClick)="showAssignmentDialog(step)">
          <div item-icon class="icon icon-assignment"></div>
          <div item-title i18n="action menu item title|Title of an action that shows Assignment view for Workflow Step@@assignment-item-title">Assignment...</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-item *ngIf="step.state === 'Ready'" (onClick)="returnStep(step)">
          <div item-icon class="icon icon-return"></div>
          <div item-title i18n="action menu item title|Title of an action that allows the user to return Workflow Step that accepted for execution@@return-item-title">Return</div>
        </workflow-popup-menu-item>
      </workflow-popup-menu>
    </div>
  </div>
</div>
<zlux-flyover #stepFlyover>
  <div class="flyover">
    <div class="flyover-step-title">
      <div class="flyover-step-icon" [ngClass]="getStepIconClass(hoveredStep)"></div>
      <div class="flyover-text">{{hoveredStep?.title}}</div>
    </div>
    <div class="flyover-step-info">
      <div class="flyover-text-small" i18n="status|Step Status@@step-status">Status</div>
      <div class="flyover-text text-uppercase">{{hoveredStep?.state}}</div>
      <div class="flyover-text-small" i18n="corresponding workflow|Corresponding Workflow@@corresponding-workflow">Corresponding Workflow</div>
      <div class="flyover-text">{{hoveredStep?.workflow.workflowName}}</div>
      <div class="flyover-text-small" i18n="userid|Owner of the workflow@@workflow-owner">Owner</div>
      <div class="flyover-text">{{hoveredStep?.owner}}</div>
    </div>
  </div>
</zlux-flyover>
<zlux-flyover #workflowFlyover>
  <div class="flyover">
    <div class="flyover-text">{{hoveredWorkflow?.workflowName}}</div>
  </div>
</zlux-flyover>

<div class="workflow-spacer"></div>

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->
