<div *ngIf="step != null" class="workflow-step-container">
  <div class="step-container-title">
    <!-- <div class="step-title">{{step.title}}</div> -->
    <div class="step-title" zluxFlyover [flyover]="workflowFlyover" position="bottom">{{step.title}}</div>
    <select class="view-selector"
            [(ngModel)]="selectedView">
      <option [disabled]="isDisabled('general')" value="general" i18n="view|Title of General view@@general-view">General</option>
      <option [disabled]="isDisabled('perform')" value="perform" i18n="view|Title of Perform view@@perform-view">Perform</option>
      <option [disabled]="isDisabled('details')" value="details" i18n="view|Title of Details view@@details-view">Details</option>
      <option [disabled]="isDisabled('notes')" value="notes" i18n="view|Title of Notes view@@notes-view">Notes</option>
      <option [disabled]="isDisabled('status')" value="status" i18n="view|Title of Status view@@status-view">Status</option>
    </select>
  </div>
  <div class="step-container-spacer"></div>
  <zlux-flyover #workflowFlyover>
      <div class="flyover">
        <div class="flyover-step-title">
          <div class="flyover-text">{{step.title}}</div>
        </div>
        <div class="flyover-step-info">
          <div class="flyover-text-small" i18n="flyover text|Workflow for the current step@@corresponding-workflow">Corresponding Workflow</div>
          <div class="flyover-text">{{step.workflow.workflowName}}</div>
          <div class="flyover-text-small" i18n="flyover text|Description of the workflow step@@workflow-step-description">Step Description</div>
          <div class="flyover-text">{{step.description}}</div>
        </div>
      </div>
    </zlux-flyover>
</div>
<div *ngIf="step != null" class="step-container-body">
  <workflow-step-general
      [hidden] = "selectedView !== 'general'"
      [step]="step">
  </workflow-step-general>
  <workflow-step-status
      [hidden] = "selectedView !== 'status'"
      [step]="step">
  </workflow-step-status>
  <workflow-step-wizard
      [hidden] = "selectedView !== 'perform'"
      #workflowstepwizard
      [step]="step"
      (stepChangeRequested)="onStepChangeRequested($event)">
  </workflow-step-wizard>
  </div>
