<div *ngIf="step != null" class="workflow-step-container">
  <div class="step-container-title">
    <!-- <div class="step-title">{{step.title}}</div> -->
    <div class="step-title" zluxFlyover [flyover]="workflowFlyover" position="bottom">{{step.title}}</div>
    <div class="view-selector-title">
      <ng-container [ngSwitch]="selectedView">
        <ng-container *ngSwitchCase="'general'"i18n="view|Title of General view@@general-view">General</ng-container>
        <ng-container *ngSwitchCase="'perform'"i18n="view|Title of Perform view@@perform-view">Perform</ng-container>
        <ng-container *ngSwitchCase="'notes'"i18n="view|Title of Notes view@@notes-view">Notes</ng-container>
        <ng-container *ngSwitchCase="'status'"i18n="view|Title of Status view@@status-view">Status</ng-container>
      </ng-container>
    </div>
    <div class="view-selector-arrow" (click)="menu.show()">
      <workflow-popup-menu #menu position='left'>
        <workflow-popup-menu-item (onClick)="selectView('general')">
          <div item-icon class="icon icon-general"></div>
          <div item-title i18n="view|Title of General view@@general-view">General</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-item (onClick)="selectView('perform')">
          <div item-icon class="icon icon-perform"></div>
          <div item-title i18n="view|Title of Perform view@@perform-view">Perform</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-item (onClick)="selectView('notes')">
          <div item-icon class="icon icon-notes"></div>
          <div item-title i18n="view|Title of Notes view@@notes-view">Notes</div>
        </workflow-popup-menu-item>
        <workflow-popup-menu-item (onClick)="selectView('status')" *ngIf="step.isJclStep()">
          <div item-icon class="icon icon-status"></div>
          <div item-title i18n="view|Title of Status view@@status-view">Status</div>
        </workflow-popup-menu-item>
      </workflow-popup-menu>
    </div>
  </div>
  <div class="step-container-spacer"></div>
  <zlux-flyover #workflowFlyover>
      <div class="flyover">
        <div class="flyover-step-title">
          <div class="flyover-text">{{step.title}}</div>
        </div>
        <div class="flyover-step-info">
          <div class="flyover-text-small" i18n="flyover text|Workflow for the current step@@corresponding-workflow">Corresponding Workflow</div>
          <div class="flyover-text">{{step.workflow.workflowName}}</div>
          <div class="flyover-text-small" i18n="flyover text|Description of the workflow step@@workflow-step-description">Step Description</div>
          <div class="flyover-text">{{step.description}}</div>
        </div>
      </div>
    </zlux-flyover>
</div>
<div *ngIf="step != null" class="step-container-body">
  <workflow-step-general
      [hidden] = "selectedView !== 'general'"
      [step]="step">
  </workflow-step-general>
  <workflow-step-status
      [hidden] = "selectedView !== 'status'"
      [step]="step">
  </workflow-step-status>
  <workflow-step-wizard
      [hidden] = "selectedView !== 'perform'"
      #workflowstepwizard
      [step]="step"
      (stepChangeRequested)="onStepChangeRequested($event)">
  </workflow-step-wizard>
</div>
<workflow-step-assignment #workflowstepassignment [step]="step"></workflow-step-assignment>

