/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/

:host {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}


.workflow-step-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background-color: #1a354d;
  color: #eae8ea;
  font-weight: 400;
  padding: 0 20px;
}

.step-container-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
}

.step-title {
  font-size: 21px;
  flex: 1 1 auto;
}

.step-container-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.view-selector-title {
  font-size: 16px;
  flex: 0 0 150px;
}

.flyover {
  display: flex;
  max-width: 427px;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
}

.flyover-step-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flyover-step-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 25px;
}

.flyover-text {
  color: #464646;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.flyover-text-small {
  color: #464646;
  margin-top: 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.icon-perform {
  background-image: url('../images/popup-menu/perform.png');
}

.icon-properties {
  background-image: url('../images/popup-menu/properties.png');
}


.icon-status {
  background-image: url('../images/popup-menu/output.png');
}

.icon-notes {
  background-image: url('../images/popup-menu/notes.png');
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/
