
/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/


* {
  font-family: Helvetica, Open Sans, Arial, Lucida Grande, sans-serif;
}

.dots-menu {
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 0 3px;
  position: relative;
}

 .dots-menu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/dots.png');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/

