.workflow-step-general {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;  
}

.workflow-step-general-title-area, .workflow-step-description-area {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.workflow-field-label {
  margin-bottom: 0px;
}

.workflow-step-general-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.workflow-step-description-area {
  width: 100%;
  height: 100%;  
}

.workflow-step-general-description {
  width: 100%;
  height: 100%;
}