/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/

.workflow-popup-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: fit-content;
  height: fit-content;
  background-color: #FFFFFF;
  color: #464646;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  z-index: 1;
  top: 100%;
  border: 1 px solid #464646;
}

.left {
  right: 0;
}

.right {
  left: 0;
}

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
*/
